build/
.vscode/
.cache/
/.idea/.gitignore
/.cache/clangd/index/analysis.h.2D658B4BA97A6EC6.idx
/.cache/clangd/index/analysis.h.0256E27D1060CD29.idx
/CMakeLists.txt.user
/.idea/editor.xml
/.idea/kmemleak.iml
/.kdev4/kmemleak.kdev4
/kmemleak.kdev4
/.cache/clangd/index/main.c.8C951565129A6E5E.idx
/.cache/clangd/index/main.c.D66BB997046EA572.idx
/.idea/misc.xml
/.idea/modules.xml
/.qtcreator/project.json
/.qtcreator/project.json.user
/.idea/dictionaries/project.xml
/.cache/clangd/index/slabinfolist.h.6AD17A68E839B14F.idx
/.cache/clangd/index/slabinfolist.h.9352474FBC4D5FC7.idx
/.idea/vcs.xml
/.cache/clangd/index/vmstatlist.h.37C8513177831A76.idx
/.cache/clangd/index/vmstatlist.h.292BDFB7831F30E9.idx

# Build artifacts
*.o
*.so
*.a
*.exe

# CodeQL build directory
_codeql_build_dir/
_codeql_detected_source_root
